body{

    background-color: #eaeab5;
    font-family: 'Reem Kufi', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{

    background-color: #fff;
    padding: 20px;
    margin: 40px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    
}

h1{

    margin: 20px 0;
}

a{

    display: block; 
  margin: 10px 0; 
  padding: 10px;
  background: #caca67;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0, .5);
  transition: background-color .3s ease;
}

a:hover{

    background-color: #ecec48;
}

.image.stop{
    
    display: none;
}
.tasbih, .aistighfar, .salaah_ealaa_alnabaa{

    margin: 100px;
    font-size: 34px;
    line-height: 2;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(0,0,0, .5);
    
}

button{
    background-color: #8ddfdf;
    padding: 20px 30px;
    margin: 5px;
    font-size: 18px;
    color: #333;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.tasbih.stop{

    display: none;
}

.aistighfar.stop{
    
    display: none;
}


.salaah_ealaa_alnabaa.stop{

    display: none;
    
}

.count, #count2, #count3{

    color: rgb(204, 123, 170);
}

@media (max-width : 440px) {
    
    .container{

    max-width: 400px;
    
    
}


}